.content{
	background: #FFFFFF;
}
.userPic{
	width:1.785rem;
	height: 1.785rem;
	margin-top: 1.428rem;
	margin-left: 5%;
}
.symbol{
	position: relative;
	top: -0.357rem;
	left:0.214rem;
	font-family: PingFang-SC-Regular;
	font-size: 1.214rem;
	color: #333333;
	letter-spacing: 0;
}
.vip{
	display: inline-block;
	position: relative;
	top: -0.457rem;
	margin-left: 0.285rem;
	width: 2.857rem;
	height: 1.142rem;
	line-height: 1.214rem;	
	border: 1px solid #FF7200;
	border-radius: 0.714rem;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 0.857rem;
	color: #FF7200;
	letter-spacing: 0;
}
.mmPic{
	width: 90%;
	height: 9.285rem;
	margin:1.214rem 0 0 0;
	margin-left: 5%;
}
.titleStyle{
	margin-left: 5%;
	margin-top: 1.785rem;
	font-family: PingFang-SC-Semibold;
	font-size: 1.571rem;
	color: #333333;
	letter-spacing: 0;
}
.p-content{
	width: 90%;
	margin-left: 5%;
	margin-top: 1.357rem;
	font-family: PingFang-SC-Medium;
	font-size: 1.071rem;
	color: #333333;
	letter-spacing: 0;
	line-height: 1.357rem;
}
.ui-page-item{
	text-align: center;
}
.ui-page-item span{
	display: inline-block;
	width: 0.714rem;
	height: 0.142rem;
	background: #3D7ADE;
}
.allCourse .titleStyle{
	margin-top: 2.571rem;
}
.allCourse .course1{
	width: 90%;
	height: 11.142rem;
	background: url(http://file.88mmmoney.com/0c62926a-eea5-417d-8607-c6f3ff00439b);
	margin-left: 5%;
	margin-top: 1.857rem;
}
.courseLabel{
	padding:0.642rem 0.785rem;
}
.courseLabel span{
	margin-right: 0.142rem;
	padding: 0.142rem 1rem;
	line-height: 1.214rem;
	border-radius: 0.714rem;
	border: 1px solid #999999;
	font-family: PingFang-SC-Regular;
	font-size: 0.785rem;
	color: #FFFFFF;
	background: #000000;
    opacity: 0.5;
	letter-spacing: 0;
	text-align: center;
}
.courseTeacher{
	margin: 5.3rem 0 0 0.875rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.857rem;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 1.285rem;
}
.godPrice{
	position: relative;
}
.courseTitle{
	margin: 4rem 0 0 0.875rem;	
	font-family: PingFang-SC-Medium;
	font-size: 1.071rem;
	color: #FFFFFF;
}
.price{
	position: absolute;
	right: 1rem;
	font-family: PingFang-SC-Medium;
	font-size: 1rem;
	color: #FF7200;
	letter-spacing: 0;
}
.beforePrice{
	position: absolute;
	right: 4rem;
	font-family: PingFang-SC-Light;
	font-size: 1rem;
	color: #FFFFFF;
	letter-spacing: 0;
}
.headContent{
	margin-top: 1.142rem;
}
.god{
	margin-left: 5%;
	font-family: PingFang-SC-Semibold;
	font-size: 1.285rem;
	color: #333333;
	letter-spacing: 0;
}
.p-intro{
	width: 90%;
	margin-top: 1.285rem;
	margin-left: 5%;
	line-height: 1.5rem;
	font-family: PingFang-SC-Medium;
	font-size: 1.071rem;
	color: #333333;
	letter-spacing: 0;
}
.label{
	margin-left: 5%;
	margin-top: 0.514rem;
}
.label span{
	margin-right: 0.142rem;
	padding: 0.142rem 1rem;
	line-height: 1.214rem;
	border-radius: 0.714rem;
	border: 1px solid #999999;
	font-family: PingFang-SC-Regular;
	font-size: 0.857rem;
	color: #999999;
	letter-spacing: 0;
	text-align: center;
}
.teacherIntro{
	background: #FFFFFF;
}
.picTeacher{
	margin-left: 5%;
	margin-top: 0.214rem;
}
.teacherinfo{
	margin-left:5% ;
	margin-top: 1.142rem;
	overflow: hidden;
}
.teacherPhoto{
	float: left;
}
.message{
	width: 68%;
	float: left;
	margin-left: 1rem;
}
.message .name{
	font-family: PingFang-SC-Medium;
	font-size: 1.142rem;
	color: #333333;
	letter-spacing: 0;
}
.peopleInfo{
	margin-top: 0.142rem;
	font-family: PingFang-SC-Regular;
	font-size: 1rem;
	color: #999999;
	letter-spacing: 0;
	line-height: 1.357rem;
}
.message a{
	display: block;
	margin-left: 2.285rem;
	font-family: PingFangSC-Regular;
	font-size: 0.928rem;
	color: #3D7ADE;
	letter-spacing: 0;
	text-align: center;
}
.expend{
	position: relative;
	top: 0.4rem;
	left: -1rem;
}
.courseInfo{
	margin-top: 1rem;
	background: #FFFFFF;
}
.courseInfo .picTeacher{
	margin-top: 2rem;
}
.audioC{
	margin-left: 5%;
	margin-top: 1.2rem;
	font-family: PingFang-SC-Medium;
	font-size: 1.142rem;
	color: #333333;
	letter-spacing: 0;
}
.note{
	margin-left: 5%;
	font-family: PingFang-SC-Medium;
	font-size: 1.142rem;
	color: #333333;
	letter-spacing: 0;
}
.courseNote h3{
	margin-left: 5%;
	margin-top: 0.7rem;
	font-family: PingFang-SC-Medium;
font-size: 1.071rem;
color: #000000;
}
.courseNote p
{
	margin-left: 5%;
	margin-top: 0.3rem;
	width: 90%;
	font-family: PingFang-SC-Regular;
	font-size: 1rem;
	color: #999999;
	letter-spacing: 0;
	line-height: 1.357rem;
}
.qrCodeContent{
	display: inline-block;
	width: 50%;
	position: relative;
	top: -2rem;
	left: 1.3rem;
	font-family: PingFang-SC-Medium;
	font-size: 0.928rem;
	color: #333333;
	letter-spacing: 0;
	line-height: 1.357rem;
}
.buy{
	display: inline-block;
	width: 94%;
	height: 3.285rem;
	line-height: 3.285rem;
	margin-left: 3%;
	margin-top: 0.7rem;
	text-align: center;
	background: #3D7ADE;
	border-radius: 2.142rem;
	font-family: PingFangSC-Regular;
	font-size: 1.285rem;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
}
.foot{
	margin-top: 2rem;
	background: #FFFFFF;
}
.qrCode{
	margin-left: 10%;
	margin-top: 0.928rem;
}

.mamaIntroduce .swiper-container{
	width: 90%;
	margin-left: 5%;
	margin-top: 1.214rem;
}
.swiper-container img{
	width: 100%;
	height: 9.285rem;
}
.slide-index{
	display: inline-block;
	width: 0.714rem;
	height: 0.142rem;
	background: #D8D8D8;
}
.index{
	text-align: center;
}
.arrow{
	display: inline-block;
    position: relative;
    left: 0.4rem;
    top: -0.2rem;
    width: 6px;
    height: 6px;
    border-top: 1px solid #3D7ADE;
    border-right: 1px solid #3D7ADE;
    transform: rotate(139deg);
}
.teacherPhoto img{
	border-radius: 2.321rem;
	width: 4.642rem;height: 4.642rem;
	margin-top: 0.3rem;
}
.mamaIntroduce .swiper-pagination{
	top: 9.5rem;
}
.mamaIntroduce .swiper-pagination-bullet{
	width: 0.714rem;
	height: 0.142rem;
	background: #D8D8D8;
	opacity: 1;
}
.mamaIntroduce .swiper-pagination-bullet-active{
	background: #3D7ADE;
}
.audio-wrapper {
	width: 90%;
    margin-left: 5%;
    margin: 1.2rem auto;
    height: 7.357rem;
    border: 1px solid #e0e0e0;
    background: #FFFFFF;
	box-shadow: 0 2px 0.857rem 0 rgba(0,0,0,0.07);
	border-radius: 0.571rem;
}
.audio-left {
    float: left;
    text-align: center;
    width: 16%;
    height: 100%;
}
.audio-left img {
    width: 2.285rem;
    position: relative;
    top: 2.785rem;
    margin: 0;
    display: initial;   /* 解除与app的样式冲突 */
    cursor: pointer;
}
.audio-right {
    margin-right: 2%;
    float: right;
    width: 82%;
    height: 100%;
}
.audio-right p {
    height: 35%;
    margin: 1.142rem 0;
    /* 歌曲名称只显示在一行，超出部分显示为省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: PingFang-SC-Medium;
font-size: 0.928rem;
color: #333333;
}
.progress-bar-bg {
    position: relative;
    height: 0.428rem;
    width: 94%;
    margin-top: -1.3rem;
    margin-left: .5rem;
    cursor: pointer;
    background: #F6F5F8;
border-radius: 0.571rem;
}
.progress-bar {
    width: 0;
    height: 0.428rem;
    background: #3D7ADE;
border-radius: 0.571rem;
}
.progress-bar-bg span {
    content: " ";
    width: 0.714rem;
    height: 0.714rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #3e87e8;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.357rem;
    margin-left: -0.357rem;
    cursor: pointer;
}
.audio-time {
    overflow: hidden;
    margin-top: 0.629rem;
    margin-left: 0.3rem;
    font-family: PingFangSC-Regular;
	font-size: 0.857rem;
	color: #999999;
}
.audio-length-total {
    float: right;
    font-size: 0.857rem;
}
.audio-length-current {
    float: left;
    font-size: 0.857rem;
}
.teacherName{
	width: 100%;
	position: relative;
	font-family: PingFang-SC-Medium;
	font-size: 0.928rem;
	color: #333333;	
}
.teacherName .tryListen{
	position: absolute;
	right: 0.2rem;
	border: 0.5px solid #FF7200;
	border-radius: 0.714rem;
	padding: 0.1rem 0.4rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.785rem;
	color: #FF7200;
	letter-spacing: 0;
	text-align: center;
}
.teacherDetial{
	font-family: PingFangSC-Semibold;
	font-size: 1.214rem;
	color: #333333;
	letter-spacing: 0;
}
