@charset "utf-8";

/*清除margin padding*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li,
	pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0
}

/*设置apple、android、浏览器默认字体*/
body {
	font-family: "Helvetica Neue", STHeiTi, "Microsoft YaHei", sans-serif;
	background-color: #fff;
}

html {
	_background-image: url(about:blank);
	_background-attachment: fixed;
	-ms-text-size-adjust: 100%;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 1 */
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}

button, input, select, textarea {
	font-size: 100%
}

em, i {
	font-style: normal
}

ul, ol {
	list-style: none
}

a {
	text-decoration: none;
	outline: 0;
	_blr: expression(this.onFocus = this.blur ())
}

fieldset, img {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}